---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const pageTitle = "Über Ben-Salah";

const identity = {
	firstName: "Abdallah",
	country: "Germany",
	occupation: "Freelance Programmer",
	hobbies: ["Technology", "Sports", "Playing the Piano"],
};

const skills = ["HTML", "CSS", "JavaScript", "Python", "Java", "Astro"]

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "green";
const fontWeight = "bold";
const textCase = "uppercase";

---

<BaseLayout pageTitle={pageTitle}>
	<h2>... ich stelle mich vor!</h2>
	<p>Hier erwartet dich ein spektakulärer Steckbrief über niemand geringeren als <b>MICH</b></p>
	<!--
	{happy && <p>I am happy to be learning Astro!</p>}

	{finished && <p>I finished this tutorial!</p>}
	
	{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
		
	<p>Here are a few facts about me:</p>
	<ul>
		<li>My name is {identity.firstName}.</li>
		<li>I live in {identity.country} and I work as a {identity.occupation}.</li>
		{identity.hobbies.length >= 2 &&
		<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
		}
	</ul>
	-->

	<p>By the way, einige meiner Skills:</p>
	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
</BaseLayout>
